/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body *{
    font-family: 'Oswald', sans-serif;
    font-family: 'Single Day', cursive;
}

ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}
button{
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    border-color: transparent;
}
a {
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    max-height: auto;
    
}


/* LAYOUT */

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-sm {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 80px;
    
}

.nav-bottom{
    padding: 50px, 0;
}

.row {
    display: flex;
    padding: 10px;
    justify-content: center;
    
}

[class^='col']{
    display: flex;
    gap: 20px;
}



.container-link {
    display: flex;
    align-items: center;
}

.nav-link{
    display: flex;
	gap: 20px;
    align-items: center;
}

.nav .row{
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    
   
}
.container-sm .row{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

/* .nav-top{
    position: fixed center;
    top: 0;
    background-color: #255EE9;
    

} */
.nav-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-sm {
    gap: 100px;
}

.card{
padding-top: 80px;
padding-bottom: 50px;
}
.card [class^='col']{
    min-height: 10px;

}

.reverse{
    flex-direction: row-reverse;
}


/* Column size */

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: 100%;
}

/* utilities */

.bg-white {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-blue{
    background-color: #8EA1E1;
    color: white;
}

.bg-darkgray{
    background-color: #23272A;
}

.nav-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.text-white {
    color: white;
}

.text-blue{
    color: #8EA1E1;
}

.bg-gray{
    background-color: #e5e5e5;
}

.col-text {
    flex-direction: column;
    justify-content: center;
}

.col-title{
    flex-direction: column;
    align-items: center;
}

.main.footer{
    display: flex;
}

.starred{
    min-height: 50px;
    background-image: url(../img/stars.svg);
    padding: 20px;
}

.foot-top [class^='col']{
    display: flex;
}
.language {
    max-height: 15px;
}

.icon-footer {
    width:20px;
    display: inline-block;
}

.menu-footer{
    display: flex;
}

.language{
    margin-bottom: 10px;
    display: inline-block;
}

.foot-top .row{
    border-bottom: 2px solid #8EA1E1;
}

.nation-button{
    display: inline-block;
    
}
#nation {
    background-color: transparent;
    color: white;
    border: 0;
    padding: 0;
}

#nation option{
    background-color: #23272A;
}










/* debug */

.debug .container, .debug .container-sm{
    border: 2px solid black;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^='col'] {
    border: 2px solid green;
}