/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body *{
    font-family: 'Oswald', sans-serif;
    font-family: 'Single Day', cursive;
}

ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}
button{
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    border-color: transparent;
}
a {
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    max-height: auto
    ;
    
   
    
}


/* LAYOUT */

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-sm {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 80px;
    
}

.nav-bottom{
    padding: 50px, 0;
}

.row {
    display: flex;
    padding: 10px;
    justify-content: center;
    
}

.container-link {
    display: flex;
    align-items: center;
}

.nav-link{
    display: flex;
	gap: 20px;
    align-items: center;
}

.nav .row{
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    
   
}
.container-sm .row{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
.nav-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-sm {
    gap: 100px;
}

/* utilities */

.bg-white {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

.nav-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.text-white {
    color: white;
}

/* debug */

.debug .container, .debug .container-sm{
    border: 2px solid black;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^='col'] {
    border: 2px solid green;
}